* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #666;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: white;
}

form#chat {
  width: 90%;
  max-width: 600px;

  margin: 0 auto;
  height: 100vh;
}

div#messages {
  width: 98%;
  height: 60%;
  margin: 16px auto;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: #bcdbcd10;
  border-radius: 8px;
  box-shadow: 1px 2px 5px 1px #33333333;
  overflow-y: auto;
}

div#input {
  background: #00000030;
  border-radius: 32px;
  padding: 3px;
  padding-left: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 3px 8px 1px #00000030;
}

div#input input {
  color: white;
  font-size: 1.2em;
  line-height: 1.2;
  flex-grow: 1;
  padding: 8px;
  background-color: transparent;
  box-shadow: none;
  outline: none;
  height: 32px;
  border: none;
}

div#input button {
  background-color: transparent;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

div#input button:hover {
  background-color: #ffffff10;
}

p {
  background-color: #00000030;
  font-size: 1.2em;
  margin: 8px 0;
  padding: 8px;
  border-radius: 4px;
  width: auto;
  box-shadow: 1px 2px 5px 1px #33333333;
  max-width: 90%;
  word-wrap: break-word;
}

p.me {
  align-self: flex-end;
}
